<div class="container py-5">
  <h1 style="text-align: center">About</h1>
    <p style="text-align: center; font-size:22px;">
      ながのCAKEは全国発送可能なケーキ屋さんです。<br>
      お子様からお年寄りの方までお召し上がりいただけるよう、<br>
      様々なバリエーションをご用意しております。<br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
      ぜひご注文ください。
    </p>

    <div style="text-align: center; padding: 10px 0 40px 0;">
      <%= image_tag "about_image.png", style: "width: 720px; height: 370px;" %>
    </div>
</div>