<div class="container">
  <div class="row">
    <div class="col-3">
      <th class="text-center">ジャンル検索</th>
    </div>

    <div class="col-8 offset-1'">
      ようこそながのCakeへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。<br>

      <div class="new-arrival">
        <h2>新着商品</h2>
      </div>

      <div class="row justify-content-end">
        <%= link_to "全ての商品を見る>", products_path %>
      </div>
    </div>
  </div>
</div>
