<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col">
      <div class="px-5 pt-5">
        <h4><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h4>
      </div>
      
    </div>
  </div>
</div>