<div class="container px-5 px-sm-0">
  <%= flash[:notice] %>
  <div class="row">
    <div class="col">
      <div class="px-5 py-4">
        <h4>注文履歴一覧</h4>
      </div>
      <%= render 'admin/homes/index', orders: @orders %>
    </div>
  </div>
</div>