.slider {
    position:relative;
  z-index: 1;
  /*↑z-indexの値をh1のz-indexの値よりも小さくして背景に回す*/
  height: 400px;
}

.slider-item {
    width: 800px;/*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
    height: 400px;/*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
    background-repeat: no-repeat;/*背景画像をリピートしない*/
    background-position: center;/*背景画像の位置を中央に*/
    background-size: cover;/*背景画像が.slider-item全体を覆い表示*/
}
.slider-item01 {
  background: url("../../assets/images/top1_image.png");
  background-size:  cover;
}

.slider-item02 {
  background-image: url(../../assets/images/top2_image.png);
  background-size:  cover;
}

.slider-item03 {
  background-image: url(../../assets/images/top3_image.png);
  background-size:  cover;
}


.top_text{
  position: absolute;
  color: white;
  z-index: 2;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  /*font-size: 2vw;*/
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/*以下モーダル処理*/
#mask {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal {
  position: fixed;
  /* スクロールで移動しないようmodalの位置を固定します */
  top: 10vh;
  /* 以下3行：モーダルを左右中央揃えにする方法 */
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, 0) scale(1);
  transition: 0.2s;
  /* transitionでアニメーションを作成 */
  z-index: 2;
  /* マスクより上に重なるようにする */
  width: 500px;
  /* showビューの幅に合わせて設定 */
  background-color: white;
}

/* hiddenクラスで最初は表示されないようにする */
#mask.hidden {
  opacity: 0;
  visibility: hidden;
}

#modal.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0) scale(0.8);
  /* 大きさ0.8倍から等倍にモーダルが拡大される */
}