 /* topページ */
 .top_massage {
  /*font-family: "Kaisei Decol", "Hina Mincho";*/
  background-color:rgba(0,0,0,0.0);
  color:#FFF;
  font-size:22px;
 }

 /*.top_massage>h2 {*/
 /* font-weight: bold;*/
 /*}*/

 /*.top_massage>p {*/
 /*}*/


 /* 商品一覧 */
 .product_name {
   width: 160px;
   overflow-wrap: break-word;
 }


/* ページネーション */
.pagination {
  justify-content: center;
  text-align: center;
}

.pagination>li {
  vertical-align: baseline;
  margin: 0 5px;
  border-radius: 15px;
  height: 30px;
  width: 30px;
  /*background-color: red;*/
}

.pagination>li>a {
  border: none;
  color: #343a40;
}

.pagination>.current {
 /*background-color: #666666;*/
  background: rgba(147,201,255,0.4);
  border-radius: 15px;
  /*height: 30px;*/
  /*width: 30px;*/
}

.pagination>li:hover {
  border-radius: 50%;
  background-color: rgba(147,201,255,0.7);
  border: red;
}