<div class=="container px-5 px-sm-0">
  <%#= render 'layouts/errors', obj: @genre %>
  <%#= flash[:notice] %>
  <div class="row">
    <div class="col-6">
      <div class="px-5 pt-5">
        <h4>商品一覧</h4>
      </div>
    </div>
  </div>
</div>