<h1>注文ありがとうございました</h1>
<h6>5秒後にトップページに戻ります</h6>

<script>
//5*1000は時間を示す。1000 = 1秒
setTimeout(function () {
	window.location = 'https://e6428e9185f04f428b322298b86f02ce.vfs.cloud9.ap-northeast-1.amazonaws.com/';
}, 5*1000);
</script>