<div class="container py-5">
  <div class="row">
    <div class="col">
      <h1 class="text-center">注文ありがとうございました</h1>
      <h6 class="mt-4 text-center">5秒後にトップページに戻ります</h6>
    </div>
  </div>
</div>

<!--以下JavaScript設定-->
<script>
setTimeout(function () {
	window.location.href = '/';
}, 5*1000);
</script>