<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><%= image_tag 'logo_image.png', size: "120x120" %></a>
      <!--顧客側ログイン-->
      <% if customer_signed_in? %>
        <%

      <% end %>

    </div>
  </nav>
</header>